@import "tailwindcss";



html,

body{
    min-height: 100vh;
    background: #d8d8d8;
}


/*body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: white) {
    color-scheme: white;
  }
}*/
